<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phishing Form</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<div class="navbar">
    <a href="http://127.0.0.1:5000">Home</a>
    <div class="dropdown">
        <button class="dropbtn">Dropdown
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="http://127.0.0.1:5000/info">About Phishing</a>
            <a href="http://127.0.0.1:5000/test">Test My Email</a>
            <a href="http://127.0.0.1:5000/form">Phishing Checklist</a>
        </div>
    </div>
</div>

<img class = "csdept" alt="Web Logo" src="../static/csimg.png">

<h1>Phishing Checklist</h1>

<h2>Fill out the list below to see if you are being phished!</h2>

<section class="form-section">
    <form action= "#"
          method="POST">
        <fieldset>
            <legend>Does your email have the following?</legend>
            <p>
                <input type="checkbox" name="chkGrammar"
                    id="chkGrammar" value ="1" tabindex = "200">
                <label for="chkGrammar">Does the email contain poor spelling or
bad grammar?</label>
            </p>
            <p>
                <input type="checkbox" name="chkAwk"
                    id="chkAwk" value ="1" tabindex = "200">
                <label for="chkAwk">Is the email awkwardly worded or
nonsensical?</label>
            </p>
            <p>
                <input type="checkbox" name="chkAddress"
                    id="chkAddress" value ="1" tabindex = "200">
                <label for="chkAddress">Is the “from” address unrecognizable or
just plain weird?</label>
            </p>
            <p>
                <input type="checkbox" name="chkLarge"
                    id="chkLarge" value ="1" tabindex = "200">
                <label for="chkLarge">Does the email promise large sums of
money or other unbelievable offers?</label>
            </p>
            <p>
                <input type="checkbox" name="chkThreat"
                    id="chkThreat" value ="1" tabindex = "200">
                <label for="chkThreat">Does the email use threatening language?</label>
            </p>
            <p>
                <input type="checkbox" name="chkUrgent"
                    id="chkUrgent" value ="1" tabindex = "200">
                <label for="chkUrgent">Does the email contain a sense of
urgency?</label>
            </p>
            <p>
                <input type="checkbox" name="chkCall"
                    id="chkCall" value ="1" tabindex = "200">
                <label for="chkCall">Does the email have a call-to-action such
as clicking a link?</label>
            </p>
            <p>
                <input type="checkbox" name="chkMoney"
                    id="chkMoney" value ="1" tabindex = "200">
                <label for="chkMoney">Does the email contain an unexpected
attachment or request for money?</label>
            </p>
        </fieldset>
        <fieldset>
            <p>
                <input type="submit">
            </p>
        </fieldset>
    </form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="static/script.js"></script>
</body>
</html>
