<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phishing Main</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div class="navbar">
        <a href="http://127.0.0.1:5000">Home</a>
        <div class="dropdown">
          <button class="dropbtn">Dropdown
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="http://127.0.0.1:5000/info">About Phishing</a>
            <a href="http://127.0.0.1:5000/test">Test My Email</a>
          </div>
        </div>
      </div>
</body>
</html>
