<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phishing Main</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<div class="navbar">
    <a href="http://127.0.0.1:5000">Home</a>
    <div class="dropdown">
        <button class="dropbtn">Dropdown
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="http://127.0.0.1:5000/info">About Phishing</a>
            <a href="http://127.0.0.1:5000/test">Test My Email</a>
        </div>
    </div>
</div>
<h1>Welcome to our phishing web application!</h1>

<img class = "csdept" alt="Web Logo" src="csimg.png">

<p>Hey there! If you sometimes find yourself being a bit too trusting or susceptible to tricks, you’re in good company here. We're here to help strengthen your awareness and protect you from falling victim to phishing email scams.</p>
<p>This application is designed to educate and protect against phishing attacks, catering to individuals who value their private information. We've gathered all the essential info about phishing scams and created a handy tool. In the “About Phishing” tab, you can read up on everything phishing-related. If you’re more interested in the scam detector tool, head on over to the “Test My Email” tab.  Just input any suspicious email you receive, and our tool will scan it for typical scam indicators.</p>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="static/script.js"></script>
</body>
</html>
