<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing Page</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <header>
        <h1>SMITHSONIAN</h1>
        <p>The social credit system we all know is coming.</p>
    </header>
    <div class="horiz-center">

        <form id="form" method="post" class="form-style" >
            <img src="static/img/logo.png" class="logo"> 
            <div class="text-answer">
                <input type="search" id="entry" name="q" placeholder="Enter Possible Phishing Scam...">
                <button type="submit"></button>
            </div>
        </form>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
    <script src="static/script.js"></script>
</body>
</html>