<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing Page</title>
    <link rel="stylesheet" href="static/styleTest.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div class="navbar">
        <a href="http://127.0.0.1:5000">Home</a>
        <div class="dropdown">
          <button class="dropbtn">Dropdown
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="http://127.0.0.1:5000/info">About Phishing</a>
            <a href="http://127.0.0.1:5000/test">Test My Email</a>
          </div>
        </div>
      </div>
        <h1>Email Phishing Tester</h1>
    <div class="horiz-center">
        <h2>Insert your email into the text box below</h2>
        <form id="form" method="post" class="form-style" >
            <div class="text-answer">
                <input type="search" id="entry" name="q" placeholder="Enter Possible Phishing Scam...">
                <button type="submit">Enter</button>
            </div>
        </form>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
    <script src="static/script.js"></script>
</body>
</html>